// This is processed in the prebuild stage into theme.gen.css, which is
// imported into index.css. This file exists for the purposes of customizing
// the default ant design theme.
@import "../../node_modules/antd/dist/antd";

@primary-color: #1DA57A;
@layout-body-background: #030607;
@layout-header-background: #001529;

@heading-color: rgba(255, 255, 255, .85);
@text-color: rgba(255, 255, 255, .65);
@text-color-secondary: rgba(255, 255, 255, .45);
@disabled-color: rgba(255, 255, 255, .25);

@font-size-base: 16px;

// This isn't great, but when I changed the error-color value, the other colors which
// are based on it don't update. If I ever use any other error-color-dependent colors,
// I'll need to add them here too.
@error-color: @warning-color;//#C14C43;
@alert-error-border-color: darken(@error-color, 3);
@alert-error-bg-color: darken(@error-color, 1);
@alert-error-icon-color: @heading-color;

@component-background: @layout-header-background;
@background-color-light: lighten(@layout-header-background, 8);
@border-color-base: @text-color-secondary;
@border-color-split: @layout-body-background;
@input-bg: @layout-header-background;
@input-placeholder-color: @text-color-secondary;
@item-hover-bg: darken(@primary-color, 3);
@item-active-bg: @primary-color;
@tag-default-bg: @primary-color;
@tag-default-color: @text-color;
