.hflex-space-betw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
